
.map-container {
  height: 80vh;
  width: 100%;
}
.left-aligned-label {
  text-align: left;
  display: block;
}
.custom-marker {
    color: #570808;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.5rem;
  }
