#jumbotron {
    background-image: url('../assets/images/main__home__page.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 80vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
  
  .parallax {
    transition: transform 0.3s ease;
  }
  
  .scroll__animation {
    transform: translateY(-10px);
  }
  

  
  