.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  font-family: "Times New Roman", Times, serif;
}

.navbar-nav li{
  padding-left:30px;
  padding-right:30px;
}

.btn {
  background-color: rgb(50, 77, 90);
}

.btn-primary{
  color:rgb(226, 195, 54);
  background-color: rgb(50, 77, 90);
  border-color: rgb(51, 51, 51);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: rgb(226, 195, 54);
  background-color: rgb(114, 120, 133);
  border-color: rgb(51, 51, 51);
}

.navbar-custom {  
  background-color: rgb(50, 77, 90);  
}  

.navbar-custom .navbar-brand,  
.navbar-custom .navbar-text,
.navbar-custom .nav-link {  
  color: rgb(226, 195, 54);  
}
